@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-color: #0a007f;
  opacity: 0.9;
  background-image: radial-gradient(#2c2f4e 0.61px, #060428 0.61px);
  background-size: 12px 12px;
}