@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-color: #0a007f;
  opacity: 0.9;
  background-image: radial-gradient(#878bd9 0.61px, #0a007f 0.61px);
  background-size: 12px 12px;
}